* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gabriela', serif;
}

.app {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: steelblue;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  cursor: pointer;
}

.weather-for > label {
  cursor: pointer;
}

.zipcode {
  width: 75px;
  background-color: #54a0df;
}

input {
  margin-left: 5px;
  border-radius: 5px;
  padding-left: 3px;
  color: white;
}

input::placeholder {
  color: white;
  padding-left: 3px;
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}
