* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gabriela', serif;
}

html {
  background-color: #8abce6;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  width: 100%;
  background: linear-gradient(#4682b4, #4682b4, #4682b4, #8abce6);
  color: white;
  padding: 0px 10px 0px 10px;
}

.nav-links {
  width: 100px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.8vmin;
}

#label,
#seven-day {
  cursor: pointer;
}

.zipcode {
  width: 62px;
  background-color: #4682b4;
  margin-left: 5px;
  border-radius: 5px;
  padding-left: 3px;
  color: white;
}

.zipcode::placeholder {
  color: white;
  padding-left: 3px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-icon {
  width: 100px;
}

.submit-btn {
  font-size: 10px;
  border-radius: 3px;
  margin-left: 5px;
}

.hourly {
  display: flex;
  margin-top: 15px;
  padding-bottom: 15px;
  align-items: flex-start;
  height: 170px;
  min-width: 350px;
  max-width: 50vw;
  overflow-x: scroll;
  border-left: solid #344654 4px;
  border-right: solid #344654 4px;
  background-color: #4683b444;
  border-radius: 20px;
}

.hourly-time {
  margin: 9px;
}

.hourly-date {
  padding-top: 5px;
}

.hourly-scroller {
  font-size: 10px;
}

.interface {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 325px;
  max-width: 50vw;
}

.sun {
  padding: 10px;
}
