* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gabriela', serif;
}

html {
  background-color: #9cc3e4;
}

.app {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: steelblue;
  color: white;
  padding: 0px 10px 0px 10px;
}

.nav-links {
  width: 100px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.8vmin;
}

.weather-for > label {
  cursor: pointer;
}

.zipcode {
  width: 75px;
  background-color: #54a0df;
}

input {
  margin-left: 5px;
  border-radius: 5px;
  padding-left: 3px;
  color: white;
}

input::placeholder {
  color: white;
  padding-left: 3px;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 75px;
}

.current {
  margin-right: 3vmin;
}
